extend layout

block content
  h2 The Problem
  p Smart Depart aims to solve the problem of being late to work due delays on public transport

  br
  br

  h2 What is Smart Depart
  p After smart depart has been set up, it will constantly check your selected commute route to work
  | and if there are delays or closures it will wake you up with enough time to still arrive at work
  | on time.

  br
  br

  h2 Open Source
  p Smart Depart is a Node.js and iOS app with all source code availible on GitHub.
    br
    | Several open source node modules were created and published during the development
    | of Smart Depart.

  br
  br

  b Node Modules Published
  ul.ifs
    li.ifs: a.ifs(href="https://github.com/Lissy93/london-underground-live-sentiment-analysis") london-underground-live-sentiment-analysis
    li.ifs: a.ifs(href="https://github.com/Lissy93/node-tfl-journey-planner") Node TFL Journey Planner API Wrapper

  br

  b Project Files
  ul.ifs
    li.ifs: a.ifs(href="https://github.com/Lissy93/node-smart-depart") Node.js backend
    li.ifs: a.ifs(href="https://github.com/OlliePoole/SmartDepart") iOS Client

